/* CSS By Dark1997 */

@import url("https://rawgit.com/Dark1997/HJV/master/HJVBadges.css");
@import url("https://rawgit.com/Dark1997/HJV/master/HJVChat.css");
@import url("https://rawgit.com/Dark1997/HJV/master/HJVInfo.css");
}
#room-settings .general-settings .description .value {
 overflow-x: hidden;
 height: 235px;
 overflow-y: hidden;
}    
#room-settings .general-settings {
 background: url('');
 background-repeat: no-repeat;
 background-position: 90% 80px;
 position: relative;
}    
#user-menu .avatar {
 background-image: url('http://i.imgur.com/n2fxKet.png') !important;
}
#room-bar {
 width: 500px;
 background: url('');
 background-repeat: no-repeat;
 background-position: 210px;
} 
#room-settings .general-settings .description .value {
 overflow-x: hidden;
 height: 235px;
 overflow-y: hidden;
}
.icon { 
 background-image: url('http://i.imgur.com/92tLgta.png'); 
} 
#room-bar .icon-room {
 background: url('http://i.imgur.com/92tLgta.png');
}
.experience .xp .bar .progress {
 background: #ffa200;
 border-radius: 1px 2pc;
 box-shadow: #ffa200 0 0 20px;
}
.experience .xp .bar .progress {
border-radius: 10px 0px 10px 0px !important; 
background: #ffa200; 
box-shadow: 0 0 10px 5px #ffa200;
}
#footer-user .info .bar .progress { 
 border-radius: 10px 0px 10px 0px !important; 
 background: #ffa200; 
 box-shadow: 0 0 15px #ffa200 !important;
} 
.experience .xp .bar, 
#footer-user .meta div.bar { 
 border-radius: 10px 0px 10px 0px !important;
} 
#footer-user .meta div.bar { 
 border-radius: 10px 0px 10px 0px !important;
}
#playback-container {
 background-image: url();
 background-position: center;
 background-size: 100% auto;
}
#chat .message:nth-child(2n+1) 
#chat .mention:nth-child(2n+1) 
#chat .skip:nth-child(2n+1) 
#chat .moderation:nth-child(2n+1) 
#chat .emote:nth-child(2n+1) 
#chat .update:nth-child(2n+1) 
#chat .welcome:nth-child(2n+1) {
 background-color: rgba(17 19 23 0.32); 
 -webkit-animation: fadein 0.25s; 
 -moz-animation: fadein 0.25s; 
 -ms-animation: fadein 0.25s; 
 -o-animation: fadein 0.25s; 
 animation: fadein 0.25s; 
 animation: fadein 0.25s; 
 background-color: #111317; 
 border-radius: 0px; 
 background-color: rgba(17 19 23 0.5);
} 
#chat #chat-input {
 background: rgba(80 80 80 0.25);
}
#user-settings .container .cap .slider .circle {
 top: 3px;
}
#volume .slider .circle {
 top: 3px; 
} 
.focused {
 box-shadow: 0 0 0 0.1em #ffa200 inset !important;
}
#chat-input {
 border-radius: 30px;
} 
.icon-chat-host > span {
 color: #ffa200 !important; 
}
#playlist-panel {
 opacity: .85;
}
#footer {
 background-color: rgba(30 30 36 1) !important;
}
#playback-controls .button.snooze {
 background: #00afe4 !important;
 opacity: .7;
}
#playlist-button {
 background: #ffa200 !important;
} 
#playlist-menu .menu .row.selected {
 background: #39688D !important;
}
.thumb {
 border-color: #ffa200 !important;
}
#user-rollover.is-staff .thumb, 
#waitlist .is-staff .thumb {
 border-color: #ffa200 !important;
} 
.media-list .row.now-playing {
 background: #ffa200 !important;
 border-bottom: 1px solid #ff5f7c !important;
}
#playlist-menu .menu .row .count {
 color: #ffa200 !important;
}
#grab .bottom #grab.selected {
 background: #00afe4 !important;
} 
#footer-user .bar .progress { 
 background: #ffa200 !important; 
}  
.experience .xp .bar .progress {
 background: #ffa200 !important;
}
.activate-button span {
 color: #FFFFFF !important;
}
#playlist-activate-button {
 background: none !important;
} 
#playlist-activate-button span { 
 color: #ffa200 !important; 
} 
.media-list .row.now-playing .actions {
 background: #ffa200 !important;
}
.media-list .row.selected {
 background: #39688D !important;
}
.media-list .selected .actions { 
 background: #ffa200 !important;
}  
#user-lists .header .button.staff.selected { 
 border-bottom: 1px solid #ffa200 !important;
}
.dialog.destructive .button.submit { 
}
#room-info .button.disabled {
 background: #ffa200 !important;
}
#room-info .button.enabled { 
 background: #00afe4 !important;
}
#playlist-create:hover {
 background: #0191ff !important;
}
#playlist-import:hover {
 background: #0191ff !important;
}
#playlist-edit-button:hover {
 background: #0191ff !important; 
}
#playlist-shuffle-button:hover {
 background: #0191ff !important;
}
#playlist-delete-button:hover {
 background: #c42e3b !important;
}
.tab-menu button.selected {
 background: #ffa200 !important;
} 
#dj-button .left {
 background: #ffa200 !important;
}
#dj-button.is-leave .left {
 background: #ffa200 !important;
} 
#dj-button.is-quit .left {
 background: #ffa200 !important;
}
.delete-button:hover {  
 background: #ffa200 !important;
} 
.icon-plug-dj {
 display: none;
}
.icon-chat-ambassador + span { 
 color: #00B4B4 !important;
} 
.icon-chat-host + span {
 color: #44BE85 !important;
} 
.icon-chat-cohost + span {
 color: #44BE85 !important;
} 
.icon-chat-manager + span {
 color: #44BE85 !important;
} 
.icon-chat-bouncer + span { 
 color: #44BE85 !important;
} 
.icon-chat-dj + span {
 color: #44BE85 !important;
}  
#chat .emote 
#chat .mention 
#chat .message 
#chat .moderation 
#chat .skip 
#chat .system 
#chat .update 
#chat .welcome { 
 -webkit-animation: fadein 0.25s; 
 -moz-animation: fadein 0.25s; 
 -ms-animation: fadein 0.25s; 
 -o-animation: fadein 0.25s; 
 animation: fadein 0.25s;
}
#chat .message:hover 
#chat .emote:hover 
#chat .update:hover { 
 -moz-transition: 100ms linear 50ms; 
 -o-transition: 100ms linear 50ms; 
 -webkit-transition: 100ms linear 50ms; 
 border-left: #FFFFFF 1px solid; 
 padding-left: 1px; 
 text-decoration: none; 
 transition: 100ms linear 50ms;
}
#chat .moderation:hover {
 -moz-transition: 100ms linear 50ms; 
 -o-transition: 100ms linear 50ms; 
 -webkit-transition: 100ms linear 50ms; 
 border-left: #FF7676 1px solid; 
 padding-left: 1px; 
 text-decoration: none; 
 transition: 100ms linear 50ms;
} 
#chat .message:nth-child(2n+1)
#chat .mention:nth-child(2n+1)
#chat .skip:nth-child(2n+1)
#chat .moderation:nth-child(2n+1)
#chat .emote:nth-child(2n+1)
#chat .update:nth-child(2n+1)
#chat .welcome:nth-child(2n+1) { 
 background-color: rgba(17 19 23 1.0); 
 -webkit-animation: fadein 0.25s; 
 -moz-animation: fadein 0.25s; 
 -ms-animation: fadein 0.25s; 
 -o-animation: fadein 0.25s; 
 animation: fadein 0.25s;
}
@keyframes fadein {
 from {
 opacity: 0;
} 
to {
 opacity: 1;
}
@-moz-keyframes fadein {
 from {
 opacity: 0;
}
to {
 opacity: 1;
} 
@-webkit-keyframes fadein { 
 from {
 opacity: 0;
} 
to {
 opacity: 1;
}
@-ms-keyframes fadein { 
 from {
 opacity: 0;}
 to {
 opacity: 1;
}
@-o-keyframes fadein {
 from {
 opacity: 0;
} 
to {
 opacity: 1;
}
.drag-media-box {
 background-color: #ffa200;
}
body {
 background-size: 100% auto !important
 background-attachment: fixed 0px 0px !important
} 
#search-bar, 
#user-lists .list-header .input-background,
.app-right .friends .list-header .input-background,
#user-friends .search,
#filter-bar {
 border: 2px solid #ffa200;
}
